﻿<div class="well">
    <h4>Lista de tarefas</h4>
</div>

@*<div ng-app="filmoteca">
    <ng-view></ng-view>
</div>*@

<div ng-app="tarefa" ng-controller="listaController">
   
    <table class="table">
        <tr>
            <th>Título da Tarefa</th>
            <th>Descrição da Tarefa</th>
            <th>Status</th>
            <th>Categoria</th>
            <th>Usuário Responsável</th>
        </tr>
        <tr ng-repeat="listaTarefas  in listaTarefa">
            <td>{{listaTarefas.NomeTarefa}}</td>
            <td>{{listaTarefas.Descricao}}</td>
            <td>{{listaTarefas.Finalizado}}</td>
            <td>{{listaTarefas.Categoria.NomeCategoria}}</td>
            <td>{{listaTarefas.Usuario.NomeUsuario}}</td>
        </tr>
    </table>
</div>


    @section scripts
{
        <script src="~/Scripts/angular.js"></script>
        @*<script src="~/Scripts/angular-route.js"></script>*@
        <script src="~/AngularApp/js/tarefa.js"></script>
        <script src="~/AngularApp/js/listaController.js"></script>
        @*<script src="~/AngularApp/js/detalhesController.js"></script>*@
    }


