﻿@section SPAViews {
    @Html.Partial("_Home")
}



<div class="jumbotron">
    <h4>Lista de Tarefas</h4>
</div>

<div ng-app="filmoteca" ng-controller="listaController">
    {{filmes}}
</div>


@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")

<script src="~/Scripts/angular.js"></script>
<script src="~/AngularApp/js/tarefa.js"></script>
<script src="~/AngularApp/js/listaTarefaControle.js"></script>
    

}




